In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [113]:
data_root = "./data/"

# list all the files in the data directory and for each file, load the json file into a dataframe
import os
files = os.listdir(data_root)
import json

dfs = []
for file in files:
    if file.endswith(".json"):
        data = json.load(open(data_root + file, encoding="UTF-8"))
        data = data['place_info']
        
        dfs = dfs + data
        
        
df = pd.DataFrame.from_records(dfs)
print(df.shape)
# remove any names that are duplicated
df = df.drop_duplicates(subset=['name'])
print(df.shape)
df

(500, 5)
(497, 5)

,name,restaurant type,address,rating,num_rating_records
0,마복림떡볶이,떡볶이,서울 중구 다산로35길 5 1층,2.9,270
1,우정,떡볶이,서울 중구 퇴계로76길 55 1층,3.3,94
2,옥경이네건생선,"해물,생선",서울 중구 퇴계로85길 7 1층,3.1,139
3,주신당,칵테일바,서울 중구 퇴계로 411 1층 6호,3.7,91
4,아이러브신당동,떡볶이,서울 중구 퇴계로76길 50 성환빌딩 1층,2.5,141
...,...,...,...,...,...
495,골목흑돼지,"육류,고기",서울 종로구 종로 377-3,3.6,5
496,낭가,양식,서울 중구 다산로46길 17 두산위브더제니스 126호,4.8,9
497,토리양꼬치,양꼬치,서울 중구 다산로 157 1층,4.1,23
498,미옥이네곱창,"곱창,막창",서울 중구 다산로44길 40-1,5.0,4
499,서울회관,한식,서울 종로구 종로56길 42-4,3.4,5

In [114]:
# filter restaurants of which the type is not recorded
no_type_info_records = df[df['restaurant type'] == '']
no_type_info_records['name'].tolist()

['원소닭 원할매소문난원조닭한마리',
 'JW메리어트동대문스퀘어서울 더라운지',
 '고을래 이베리코흑돼지 신당역점',
 'JW메리어트동대문스퀘어서울 타볼로24',
 '노보텔앰배서더 서울동대문호텔&레지던스 푸드익스체인지',
 '롯데리아 동대문역사문화공원역점',
 '써브웨이 동대문역사문화공원역점']

In [115]:
"""
    ['매머드익스프레스 서울숲아이코닉점',
    '고든램지 스트리트 피자 서울숲점',
    '패티앤베지스 디타워 서울포레스트점',
    '살롱드호우섬 디타워서울포레스트점',
    '어메이징브루잉컴퍼니 성수브루펍',
    'PFS MOF 피그먼트플래그쉽스페이스',
    '1987루프탑라운지 더마에스트로점',
    '안뜰생선구이동태대구탕 뚝섬역점',
    '까페스토크 & 위키드와이프 와인바']
"""

manual_mapping_dict = {
"매머드익스프레스 서울숲아이코닉점": "카페",
"고든램지 스트리트 피자 서울숲점": "피자",
"패티앤베지스 디타워 서울포레스트점": "햄버거",
"살롱드호우섬 디타워서울포레스트점": "중식",
"어메이징브루잉컴퍼니 성수브루펍": "술집",
"PFS MOF 피그먼트플래그쉽스페이스": "갤러리카페",
"1987루프탑라운지 더마에스트로점": "칵테일바",
"안뜰생선구이동태대구탕 뚝섬역점": "해물,생선",
"까페스토크 & 위키드와이프 와인바": "와인바"
}

In [116]:
df['restaurant type'].unique()

array(['떡볶이', '해물,생선', '칵테일바', '조개', '디저트카페', '육류,고기', '갈비', '곱창,막창',
       '냉면', '칼국수', '순대', '카페', '굴,전복', '설렁탕', '족발,보쌈', '국밥', '인도음식',
       '초밥,롤', '분식', '불고기,두루치기', '뷔페', '복어', '피자', '닭요리', '국수', '중국요리',
       '이탈리안', '삼겹살', '아시아음식', '커피전문점', '죽', '호프,요리주점', '찌개,전골', '실내포장마차',
       '제과,베이커리', '', '회', '양식', '패스트푸드', '일본식주점', '한식', '중식', '게,대게',
       '쌈밥', '햄버거', '치킨', '일식', '돈까스,우동', '아이스크림', '양꼬치', '베트남음식',
       '매운탕,해물탕', '스테이크,립', '수제비', '장어', '태국음식', '패밀리레스토랑', '삼계탕',
       '사철탕,영양탕', '오리', '곰탕', '멕시칸,브라질', '참치회', '샌드위치', '전통찻집', '와인바',
       '테마카페', '감자탕', '해장국', '떡,한과', '퓨전요리', '일본식라면', '샐러드', '오뎅바', '토스트',
       '두부전문점', '술집', '한식뷔페', '샤브샤브', '간식'], dtype=object)

In [117]:
# for each restaurant in the manual mapping dictionary, update the restaurant type with the corresponding value
for key, value in manual_mapping_dict.items():
    df.loc[df['name'] == key, 'restaurant type'] = value
    
df

,name,restaurant type,address,rating,num_rating_records
0,마복림떡볶이,떡볶이,서울 중구 다산로35길 5 1층,2.9,270
1,우정,떡볶이,서울 중구 퇴계로76길 55 1층,3.3,94
2,옥경이네건생선,"해물,생선",서울 중구 퇴계로85길 7 1층,3.1,139
3,주신당,칵테일바,서울 중구 퇴계로 411 1층 6호,3.7,91
4,아이러브신당동,떡볶이,서울 중구 퇴계로76길 50 성환빌딩 1층,2.5,141
...,...,...,...,...,...
495,골목흑돼지,"육류,고기",서울 종로구 종로 377-3,3.6,5
496,낭가,양식,서울 중구 다산로46길 17 두산위브더제니스 126호,4.8,9
497,토리양꼬치,양꼬치,서울 중구 다산로 157 1층,4.1,23
498,미옥이네곱창,"곱창,막창",서울 중구 다산로44길 40-1,5.0,4
499,서울회관,한식,서울 종로구 종로56길 42-4,3.4,5

In [118]:
# filter restaurants of which the type is not recorded
no_type_info_records = df[df['restaurant type'] == '']
no_type_info_records['name'].tolist()

['원소닭 원할매소문난원조닭한마리',
 'JW메리어트동대문스퀘어서울 더라운지',
 '고을래 이베리코흑돼지 신당역점',
 'JW메리어트동대문스퀘어서울 타볼로24',
 '노보텔앰배서더 서울동대문호텔&레지던스 푸드익스체인지',
 '롯데리아 동대문역사문화공원역점',
 '써브웨이 동대문역사문화공원역점']

In [119]:
# count the corresponding number of restaurants for each restaurant type
for k, v in df['restaurant type'].value_counts().to_dict().items():
    print(k, v)

육류,고기 38
커피전문점 30
한식 24
카페 23
중국요리 22
호프,요리주점 19
해물,생선 18
곱창,막창 17
떡볶이 16
닭요리 12
분식 12
족발,보쌈 12
일본식주점 11
갈비 11
치킨 11
제과,베이커리 10
회 9
순대 9
칼국수 9
패스트푸드 8
삼겹살 8
국수 7
 7
돈까스,우동 7
양식 6
중식 6
인도음식 6
실내포장마차 6
디저트카페 6
장어 6
냉면 5
일식 5
초밥,롤 5
이탈리안 5
국밥 5
피자 5
아시아음식 5
양꼬치 4
베트남음식 4
설렁탕 4
찌개,전골 3
오리 3
와인바 3
감자탕 3
태국음식 2
스테이크,립 2
떡,한과 2
샐러드 2
두부전문점 2
수제비 2
샤브샤브 2
햄버거 2
매운탕,해물탕 2
굴,전복 2
게,대게 2
불고기,두루치기 2
칵테일바 2
뷔페 2
아이스크림 2
죽 2
해장국 1
한식뷔페 1
술집 1
토스트 1
오뎅바 1
일본식라면 1
퓨전요리 1
복어 1
테마카페 1
조개 1
전통찻집 1
샌드위치 1
참치회 1
멕시칸,브라질 1
곰탕 1
사철탕,영양탕 1
삼계탕 1
패밀리레스토랑 1
쌈밥 1
간식 1

In [120]:
"""
['카페', '양식', '중국요리', '커피전문점', '한식', '디저트카페', '동남아음식', '샌드위치',
       '제과,베이커리', '이탈리안', '치킨', '분식', '와인바', '패스트푸드', '피자', '일식집', '햄버거',
       '전통찻집', '테마카페', '아이스크림', '태국음식', '돈까스,우동', '베트남음식', '갈비', '초밥,롤',
       '일식', '멕시칸,브라질', '갤러리카페', '퓨전일식', '', '샤브샤브', '국밥', '굴,전복', '술집',
       '곱창,막창', '호프,요리주점', '아시아음식', '중식', '장어', '육류,고기', '칵테일바', '냉면',
       '아구', '삼겹살', '도넛', '일본식라면', '샐러드', '족발,보쌈', '해물,생선', '간식', '음식점',
       '감자탕', '닭요리', '국수', '뷔페', '해장국', '설렁탕', '구내식당', '순대', '떡볶이', '회',
       '칼국수', '조개', '일본식주점', '불고기,두루치기', '죽', '떡,한과', '두부전문점', '퓨전한식',
       '애견카페', '곰탕', '오뎅바', '한식뷔페', '추어']
       
"""

type_alias = {
    "중국요리": "중식",
    "일식집": "일식",
    "퓨전일식": "일식",
    "일식": "일식",
    "추어": "해물,생선",
    "굴,전복": "해물,생선",
    "장어": "해물,생선",
    "조개": "해물,생선",
    "회": "해물,생선",
    "해물,생선": "해물,생선",
    "아구": "해물,생선",
    "도넛": "디저트카페",
    "죽": "한식",
    "떡볶이": "분식",
    "두부전문점": "한식",
    "곰탕": "한식",
    "오뎅바": "일본식주점",
    "국밥": "한식",
    "순대": "한식",
    "해장국": "한식",
    "불고기,두루치기": "한식",
    
}

df['categories'] = df['restaurant type'].apply(lambda x: type_alias[x] if x in type_alias else x)
# count the corresponding number of restaurants for each restaurant type
for k, v in df['categories'].value_counts().to_dict().items():
    print(k, v)

한식 46
육류,고기 38
해물,생선 36
커피전문점 30
분식 28
중식 28
카페 23
호프,요리주점 19
곱창,막창 17
족발,보쌈 12
일본식주점 12
닭요리 12
치킨 11
갈비 11
제과,베이커리 10
칼국수 9
패스트푸드 8
삼겹살 8
 7
돈까스,우동 7
국수 7
양식 6
디저트카페 6
실내포장마차 6
인도음식 6
일식 5
이탈리안 5
아시아음식 5
피자 5
초밥,롤 5
냉면 5
설렁탕 4
양꼬치 4
베트남음식 4
찌개,전골 3
감자탕 3
와인바 3
오리 3
수제비 2
떡,한과 2
샐러드 2
샤브샤브 2
태국음식 2
게,대게 2
스테이크,립 2
칵테일바 2
아이스크림 2
뷔페 2
햄버거 2
매운탕,해물탕 2
복어 1
한식뷔페 1
술집 1
토스트 1
일본식라면 1
퓨전요리 1
테마카페 1
쌈밥 1
전통찻집 1
샌드위치 1
참치회 1
멕시칸,브라질 1
사철탕,영양탕 1
삼계탕 1
패밀리레스토랑 1
간식 1

In [121]:
df['rating_range'] = df['rating'].apply(lambda x: int(x))

def rating_record_range(x):
    if x < 10:
        return '0~10'
    elif x < 30:
        return '10~30'
    
    elif x < 50:
        return '30~50'
    
    else:
        return '50+'
    
    
df['rating_records_range'] = df['num_rating_records'].apply(lambda x: rating_record_range(x))

In [122]:
# rearrange the columns as follows
# name, categories, restaurant type, address, rating, num_rating_records

df = df[['name', 'categories', 'restaurant type', 'address', 'rating', "rating_range", 'num_rating_records', "rating_records_range"]].copy()
df

,name,categories,restaurant type,address,rating,rating_range,num_rating_records,rating_records_range
0,마복림떡볶이,분식,떡볶이,서울 중구 다산로35길 5 1층,2.9,2,270,50+
1,우정,분식,떡볶이,서울 중구 퇴계로76길 55 1층,3.3,3,94,50+
2,옥경이네건생선,"해물,생선","해물,생선",서울 중구 퇴계로85길 7 1층,3.1,3,139,50+
3,주신당,칵테일바,칵테일바,서울 중구 퇴계로 411 1층 6호,3.7,3,91,50+
4,아이러브신당동,분식,떡볶이,서울 중구 퇴계로76길 50 성환빌딩 1층,2.5,2,141,50+
...,...,...,...,...,...,...,...,...
495,골목흑돼지,"육류,고기","육류,고기",서울 종로구 종로 377-3,3.6,3,5,0~10
496,낭가,양식,양식,서울 중구 다산로46길 17 두산위브더제니스 126호,4.8,4,9,0~10
497,토리양꼬치,양꼬치,양꼬치,서울 중구 다산로 157 1층,4.1,4,23,10~30
498,미옥이네곱창,"곱창,막창","곱창,막창",서울 중구 다산로44길 40-1,5.0,5,4,0~10
499,서울회관,한식,한식,서울 종로구 종로56길 42-4,3.4,3,5,0~10

In [123]:
import pandas as pd
import numpy as np
from scipy import stats

# 모집단 전체 평균 별점
overall_mean = (df['rating']*df['num_rating_records']).sum() / df['num_rating_records'].sum()

# 신뢰 구간과 p-value 계산 함수 정의
def calculate_confidence_interval_and_p_value(row, overall_mean):
    mean = row['rating']
    n = row['num_rating_records']
    
    # 별점의 표준 편차를 1.5로 가정 (1~5 사이 값에서의 분포)
    std_dev = 1.5
    
    # 표준 오차 계산
    se = std_dev / (np.sqrt(n) + 1e-8)
    
    # 95% 신뢰 구간 계산
    confidence_level = 0.95
    z_score = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z_score * se
    confidence_interval = (mean - margin_of_error, mean + margin_of_error)
    
    # p-value 계산 (양측 검정)
    z = (mean - overall_mean) / se
    p_value = 2 * (1 - stats.norm.cdf(abs(z)))
    
    return pd.Series({
        'ci_lower': confidence_interval[0],
        'ci_upper': confidence_interval[1],
        'p_value': round(p_value, 5)
    })

df = df[df['num_rating_records'] > 0].copy()
no_ratings = df[df['num_rating_records'] <= 0].copy()

# 각 음식점에 대해 신뢰 구간과 p-value 계산
df[['ci_lower', 'ci_upper', 'p_value']] = df.apply(calculate_confidence_interval_and_p_value, overall_mean=overall_mean, axis=1)


df = df.sort_values(by=['rating', 'p_value'], ascending = (False,True))

result = pd.concat([df, no_ratings])

# 결과 출력
result.head()

,name,categories,restaurant type,address,rating,rating_range,num_rating_records,rating_records_range,ci_lower,ci_upper,p_value
344,알키,"호프,요리주점","호프,요리주점",서울 중구 다산로35길 14 1층,5.0,5,20,10~30,4.342608,5.657392,0.00019
417,굽,와인바,와인바,서울 중구 다산로42길 33 1층,5.0,5,16,10~30,4.265014,5.734986,0.00084
342,이모네광주곱창,"곱창,막창","곱창,막창",서울 중구 황학동 2073,5.0,5,13,10~30,4.184606,5.815394,0.00261
179,일품칼국수,칼국수,칼국수,서울 중구 다산로44길 23 정광빌딩 1층,5.0,5,12,10~30,4.151311,5.848689,0.00383
388,빈트리이백이십오 신당점,커피전문점,커피전문점,서울 중구 퇴계로 440-1,5.0,5,11,10~30,4.113573,5.886427,0.00562

In [124]:
df.reset_index(drop=True).to_csv("restaurants.csv", index=True, encoding='cp949')